@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}
body { background-color: #FAFAFA;}
a { color: #444;}
a:hover{color:#ef3c72}

/* header */
.header-wrap {
    width: 99%;
    height: 80px;
    border-bottom: solid 2px #F5F5F5;
    margin: 5px auto 0 auto;
}

.public-head-layout.wrapper {
    height: 80px;
    width: 1000px;
    color: #666666;
    margin: 0 94px;
    font: 12px 微软雅黑;
}

.site-logo {
    width: 240px;
    height: 60px;
    float: left;
    margin: 15px 10px auto 0;
}

.site-logo img {
    max-width: 240px;
    max-height: 60px;
}

.login-now {
    width: 158px;
    height: 24px;
    color: #aaaaaa;
    float: right;
    font: 14px 微软雅黑;
    margin: 50px 0 0;
}

.register {
    width: 28px;
    height: 19px;
    color: #EF3c79;
    margin: 0 0 0 4px;
}

/* content */
.nc-register-bg { background: #FAFAFA url(../img/bg-2.jfif) repeat 50% 50% ; width: 100%; height: 680px; overflow: hidden;}
.nc-register-box { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#26000000', endColorstr='#26000000');background:rgba(0,0,0,0.15); width: 860px; height: 560px; padding: 10px; margin: 60px auto;}
.nc-register-layout { background-color: #FFF; display: block; width: 820px; height: 520px; padding: 19px; border: solid 1px #CCC; overflow: hidden;}
.nc-register-layout .left { width: 600px; height: 520px; float: left;}
.nc-register-mode { width: 580px;}
.tabs-nav { font-size: 0;  word-spacing:-1em; border-bottom: solid 1px #E6E6E6; text-align: center;}
.tabs-nav li { margin: 0 auto; vertical-align: bottom; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline; width: 50%; height: 40px;  *zoom: 1;}
.tabs-nav li a { font-size: 18px; color: #999; line-height: 24px; padding-bottom: 13px; position: relative; z-index: 1;}
.tabs-nav li a:hover { text-decoration: none; color: #000;}
.tabs-nav li a.tabulous_active { color: #EF3C79; display: block; border-bottom: 3px solid #EF3C79}
.tabs-nav li a i { font-size: 0; line-height: 0; border-color: #F32613 transparent transparent transparent; border-style: solid dashed dashed dashed; border-width: 7px; display: none; width: 0; height: 0; margin-left: -4px; position: absolute; z-index: 1; left: 50%; bottom: -17px;}
.tabs-nav li a.tabulous_active i { display: block;}
.tabs-container { position: relative; z-index: 1;}
.nc-register-mode .tabs-content { padding: 50px 80px 0 100px;}
.nc-login-form { display: block;}
.nc-login-form dl { background-color: #FFF; width: 398px; height: 52px; margin-top: -1px; border: solid 1px #E6E6E6; position: relative; z-index: 1;}
.nc-login-form dl.focus { border-color: #EF3C79; z-index: 3;}
.nc-login-form dl.error { border-color: #EF3C79 !important; z-index: 2;}
.nc-login-form dl dt { font-size: 14px; line-height: 20px; color: #666; width: 72px; padding: 16px 0 16px 20px; float: left;}
.nc-login-form dl dd { height: 28px; float: left; padding: 12px 0;}
.nc-login-form dl dd .text { font-family: "microsoft yahei"; font-size: 14px; line-height: 28px; width: 290px; height: 28px; padding: 0; border: none 0;}

.nc-login-form dl .note { color: #CCC; line-height: 16px; width: 145px; height: 32px; position: absolute; z-index: 1; top: 10px; left: 245px;}
.nc-login-form dl.focus .note { color: #EF3C79;}

.nc-login-form .code-div { width: 100%; height: 54px;}
.nc-login-form .code-div dl { width: 277px; float: left;}
.nc-login-form .code-div span { width: 120px; height: 52px; float: left; margin: -1px 0 0 -1px; border: solid 1px #E6E6E6; position: relative; z-index: 1;}
.nc-login-form .code-div span img { width: 120px; height: 52px;}
.nc-login-form .code-div span a { font-size: 14px; text-decoration: none; line-height: 52px; color: #FFF; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5); text-align: center; display: none; width: 120px; height: 52px; position: absolute; z-index: 1; top: 0; left: 0;}
.nc-login-form .code-div span:hover a { display: block;}
.nc-login-form .clause-div { font-size: 14px; color: #666; line-height: 30px; width: 400px; height: 30px; margin-top: 15px; border: none 0;}
.nc-login-form .clause-div dd { padding: 0; height: auto;}
.nc-login-form .clause-div .checkbox { vertical-align: middle; margin-right: 8px;}
.nc-login-form .tiptext { line-height: 20px; color: #999; margin: 15px 0;}
.nc-login-form .tiptext a { line-height: 22px; color: #FFF; background-color: #21b384; vertical-align: middle; display: inline-block; height: 22px; padding: 0 8px; margin: 0 4px; border-radius: 2px;}
.nc-login-form .tiptext a:hover { text-decoration: none; background-color: #1FA67A;}
.nc-login-form .tiptext a i { font-size: 14px; margin-right: 4px;}
.nc-login-form .submit-div { margin-top: 15px;}
.nc-login-form .submit-div .submit { font-family: "microsoft yahei"; font-size: 16px; font-weight: 600; color: #FFF; background-color: #EF3C79; width: 398px; height: 42px; border: solid 1px #EF3C79; border-radius: 3px; cursor: pointer;}

.nc-login-form label.error { color: #000; line-height: 24px; background: #FFF5D9 no-repeat 0 0; text-align: left; white-space: nowrap; height: 24px; padding: 8px 12px 8px 24px; position: absolute; z-index: 2; top: 5px; left: 300px; }
.nc-login-form label.error i { font-size: 24px; margin-right: 12px; color: #FF875A; vertical-align: middle;}
.nc-login-form .clause-div label.error { top: -5px; right: 50px;}
.nc-login-form .code-div label.error { background: transparent none; min-width: auto; padding: 0; top: 15px; right: 0; left: auto;}

.transition { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s; -ms-transition-delay: .3s; transition-delay: .3s; }
.make_transist { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
.hidescale { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); filter: alpha(opacity=0); opacity: 0; }
.showscale { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s; -ms-transition-delay: .3s; transition-delay: .3s; }
.hideleft { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -o-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; display: none\9; ;/*ie6,ie7,ie8*/}
.showleft { -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -o-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s; -ms-transition-delay: .3s; transition-delay: .3s; display: block\9; ;/*ie6,ie7,ie8*/}
.hidescaleup { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }
.showscaleup { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s; -ms-transition-delay: .3s; transition-delay: .3s; }
.hideflip { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); display: none\9; ;/*ie6,ie7,ie8*/ opacity: 0; -webkit-transform: rotatey(-90deg) scale(1.1); -moz-transform: rotatey(-90deg) scale(1.1); -o-transform: rotatey(-90deg) scale(1.1); -ms-transform: rotatey(-90deg) scale(1.1); transform: rotatey(-90deg) scale(1.1); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.showflip { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); display: block\9; ;/*ie6,ie7,ie8*/ opacity: 1; -webkit-transition-delay: .3s; -moz-transition-delay: .3s; -o-transition-delay: .3s; -ms-transition-delay: .3s; transition-delay: .3s; -webkit-transform: rotatey(0deg) scale(1); -moz-transform: rotatey(0deg) scale(1); -o-transform: rotatey(0deg) scale(1); -ms-transform: rotatey(0deg) scale(1); transform: rotatey(0deg) scale(1); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; }

.tabulousclear { display: block; clear: both; }
.nc-register-layout .right { width: 200px; height: 500px; float: right; padding: 20px 0 0 19px; border-left: solid 1px #E6E6E6;}
.nc-register-layout .right h4 { font-size: 14px; line-height: 20px; height: 20px; margin-bottom: 20px; color: #333;}
.nc-register-layout .right .api-login { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding-bottom: 20px; margin-bottom: 20px; border-bottom: dashed 1px #E6E6E6;  }
.nc-register-layout .right .api-login a { vertical-align: top; display: inline-block; *display: inline; width: 42px; margin-left: 12px; *zoom: 1;}
.nc-register-layout .right .api-login a i { background: url(../images/login_pic.png) no-repeat; display: block; width: 42px; height: 42px;}
.nc-register-layout .right .api-login a.qq i { background-position: -126px -32px;}
.nc-register-layout .right .api-login a.sina i { background-position: -168px -32px;}
.nc-register-layout .right .api-login a.wx i { background-position: -210px -32px;}
.nc-register-layout .right .reister-after li { color: #999; line-height: 24px; margin-bottom: 10px; padding-left: 12px;}
.nc-register-layout .right .reister-after i { background: url(../images/login_pic.png) no-repeat; vertical-align: middle; display: inline-block; width: 24px; height: 24px; margin-right: 8px;}
.nc-register-layout .right .reister-after .ico01 img { background-position: 0 -76px;}
.nc-register-layout .right .reister-after .ico02 img {  background-position: -30px -76px;}
.nc-register-layout .right .reister-after .ico03 img {  background-position: -60px -76px;}
.nc-register-layout .right .reister-after .ico04 img {  background-position: -90px -76px;}
.nc-register-layout .right .reister-after .ico05 img {  background-position: -120px -76px;}
.nc-register-layout .right .reister-after .ico06 img { background-position: -150px -76px;}
.nc-register-layout .right .reister-after img{height:24px;}

/* footer */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }
#footer { font-size: 12px !important; text-align: center;  margin: 15px auto; padding-bottom: 10px; overflow: hidden;}
 #footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
